@media screen and (max-width:480px){
    *{
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
    }

    body{
        background-image: url(./placing-booking-background.jpeg);
        background-repeat: no-repeat;

    }

    .booking-page-container{
        width: 100%;
        height: 100%;
    }

    .booking-page-header{
        background-color: #c334eb;
        font-size: xx-large;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .booking-page-icon{
        color: black;
        margin-left: 7%;
        margin-top: 1%;
        margin-top: 5%;
    }

    .booking-page-app-name{
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
        font-family: cursive;
        color: white;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .booking-page-settings{
        color: black;
        margin-top: 5%;

    }

    .booking-page-heading-content{
        text-align: center;
        margin-top: 20%;
        font-size: small;
    }

    .booking-page-content-two{
        color: #c334eb; 
        margin-top: 3%;  
     }

    .booking-page-form{
        margin-top: 150%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        border-color: #c334eb;
    }

    .input-container {
        position: relative;
        width: 450px;
        margin: 5% 0% 0% 10%;
    }
    
    .input-container i {
        position: absolute;
        left: 10px; 
        top: 50%;
        transform: translateY(-50%); 
        color:black; 
    }
    
    .input-container input {
        width: 250px;
        height: 35px;
        padding: 20px 0px 10px 40px; 
        border: 2px solid  #c334eb;
        border-radius: 15px;
        margin-bottom: 3%;
        font-size: 16px;
        background-color: whitesmoke;
    }
    
    .input-container input:focus {
        outline: none;
        border-color: #007BFF; 
    }
    
    .search-aero-button{
        width: 320px;
        height: 50px;
        margin-top: 17%;
        margin-left: 7%;
        background-color: #c334eb;
        border-color: #c334eb;
        color: white;
        font-size: large;
        border-radius: 15px;
    }


.booking-page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c334eb;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.icon-container {
    text-align: center;
}

.icon-container i {
    font-size: 24px;
    color: #333;
}

.icon-container h6 {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.booking-page-container {
    padding-bottom: 70px;
}
    

}